.map {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 20px;
}

.row {
    display: flex;
    gap: 2px;
}

.tile {
    width: 32px;
    height: 32px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    border: 1px solid #ccc;
}
